h4 {
	text-align: center;
}

.mainmenu_n{
	background: #FFDC73;  
	margin: 3% 0% 3% 3%;
	border: 1px solid;
}

.mainmenu_a{
	background: #FFCF40;
	margin: 3% 0% 3% 3%;
	border-top: 1px solid; 
	border-left: 1px solid; 
	border-bottom: 1px solid 
}

.mainmenutext {
	white-space: nowrap; 
	position: absolute; 
	top: 50%;
	left: 50%;  
	transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}

.code {
	min-height: 50px;
	background: white;
	width: 100%;
	color: blue;
	font-size: 18px;
	line-height: 1em;
	font-family:comic sans ms,cursive;
	padding: 10px 0 10px 0;
	margin: 10px 0 10px 0;

}
.code p {
	margin: 15px;
}

.code p br {
	text-indent: 10px;
}

.tag {
	color: red;
	font-weight: bold;
}

.nextflore {
	text-indent: 30px;
}

.maintext{
	background: #FAEEDD; 
	font-size: 16px; 
	font-family:tahoma,geneva,sans-serif;
}
.maintext p {
}
.maintext a {
	font-size:18px;
	font-weight: bold;
}

.maintext table {
	background: white;
	text-align: center;
}

